body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-family: sans-serif;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
}

.square {
  box-sizing: border-box;
  border: 1px solid #ddd;
}